:root {
    /*
        color references:
        https://coolors.co/palette/3c3744-090c9b-3066be-b4c5e4-fbfff1
    */

    --primary: #090c9b;
    --secondary: #fbfff1;
    --outline: #3c3744;
    --text: #3c3744;
}

.form-group {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
}

.form-group label {
    font-size: .875rem;
    margin-bottom: .5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    font-family: "Inter Tight", sans-serif;
    font-size: 1rem;

    padding: .7rem;

    border: 1.5px solid var(--outline);
    border-radius: .5rem;

    background-color: var(--secondary);
    color: var(--text);

}

.btn {
    padding: .5rem 1rem;
    font-size: 1rem;

    font-family: "Inter Tight", sans-serif;
}

.btn-primary {
    border: 1.5px solid var(--primary);

    background-color: var(--primary);
    color: var(--secondary);
}

.btn-secondary {
    border: 1.5px solid var(--outline);

    background-color: var(--secondary);
    color: var(--text);
}

.btn-group {
    display: flex;
    gap: .5rem;
}