:root {
    /*
        color references:
        https://coolors.co/palette/3c3744-090c9b-3066be-b4c5e4-fbfff1
    */

    --primary: #090c9b;
    --secondary: #fbfff1;
    --outline: #3c3744;
    --text: #3c3744;

    --paper: #F9F0E3;
}

body {
    background-color: var(--paper);
}

main {
    background-color: var(--paper);

    padding: 1rem 0;
    max-width: 450px;
    margin: auto;
}

.card-container {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1E1E24;
    color: var(--secondary);

    font-weight: 700;
    transition: all .3s ease;
}

.card-container:hover {
    box-shadow: 0px 2.292px 3.225px -1.458px rgba(0, 0, 0, 0.2), 0px 5px 7.915px 0.625px rgba(0, 0, 0, 0.14), 0px 1.875px 9.580px 1.666px rgba(0, 0, 0, 0.12);
}

.card-container * {
    margin: 0;
}

.mb-4 {
    margin-bottom: .5rem;
}

.me-4 {
    margin-right: .5rem;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
    padding: 1rem .5rem;
}

.items-center {
    align-items: center;
}

/* welcome title */
.top-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.top-title {
    margin: 0;
}

.top-button {
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0;
    margin: 0;
}

.welcome-title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-amount {
    font-size: 2rem;
}

.transaction-history-container {
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0;
    margin: 0;
}

.transaction-history-item {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary);

    border-top: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
    margin-top: .5rem;
}

.transaction-details-container {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary);

    padding: 0;

    display: flex;

    flex-direction: column;
}

.transaction-details-container p {
    margin: 0;
    line-height: 1.5;
}

.transaction-detail-label {
    font-size: .875rem;
    font-weight: 700;
}

.transaction-detail-item {
    padding: 1rem;
    border-bottom: 1px dotted var(--outline);
}

.transaction-history-item a {
    color: var(--text) !important;
}

.balance-in,
.balance-out {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    margin-top: .25rem;
}

.balance-in {
    color: #62a379;
}

.balance-out {
    color: #E54B4B;
}

.nav-footer {
    position: fixed;
    bottom: 0;
    left: 50%;

    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
    transform: translateX(-50%);

    z-index: 100;
    width: 450px;

    padding: 1rem;
}

.nav-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    padding: 0;
    margin: 0;
}

.nav-footer ul li {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
}

.nav-footer-link {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;

    color: var(--text) !important;
    font-weight: 700;
}

section {
    padding: 1rem 0;
}

.section-title {
    font-size: 1rem;

    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}